<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/home/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
	<style>
		.trending-section {
		  padding: 2rem 0;
		}
		
		.section-title {
		  font-size: 1.5rem;
		  font-weight: bold;
		  margin-bottom: 1.5rem;
		  text-align: center;
		}
		
		.trending-ethnic,
		.trending-western {
		  margin-bottom: 3rem;
		}
		
		@media (min-width: 1024px) {
		  .card-container {
			grid-template-columns: repeat(4, 1fr);
		  }
		}
		</style>
</head>

<body class="animsition">

	<!-- Navbar -->
	<%-include("partials/navbar")%>

		<!-- Slider -->
		<section class="section-slide">
			<div class="wrap-slick1">
				<div class="slick1">
					<!-- <div class="item-slick1" style="background-image: url(images/home/banner-1.png);"> -->
						<!-- <div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
									data-delay="0">
									<span class="ltext-101 cl2 respon2">
										Women Collection 2018
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
										NEW SEASON
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div> -->
					<!-- </div> -->

					<div class="item-slick1" style="background-image: url(images/home/banner-2.png);">
						<!-- <div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
									<span class="ltext-101 cl2 respon2">
										Men New-Season
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
										Jackets & Coats
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="slideInUp"
									data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div> -->
					</div>

					<!-- <div class="item-slick1" style="background-image: url(images/home/banner-3.png);"> -->
						<!-- <div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft"
									data-delay="0">
									<span class="ltext-101 cl2 respon2">
										Men Collection 2018
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
										New arrivals
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="rotateIn"
									data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div> -->
					<!-- </div> -->
				</div>
			</div>
		</section>

		<div class="trending-section">
			<!-- Ethnic Wear Section -->
			<section class="trending-ethnic">
			  <h2 class="section-title">TRENDING IN ETHNIC WEAR</h2>
			  <div class="card-container">
				<% trendingEthnic.forEach(product => { %>
				  <div class="card" data-category="<%= product.category.name %>"
					data-brand="<%= product.brandName %>"
					data-price="<%= product.finalPrice || product.originalPrice %>"
					data-name="<%= product.brandName %>">
					<a href="/product-detail/<%= product._id%>">
					  <img src="<%= product.image[0] %>" alt="<%= product.name %>" class="card-image">
					  <div class="card-content">
						<h3 class="card-title">
						  <%= product.brandName %>
						</h3>
						<p class="card-description">
						  <%= product.description %>
						</p>
						<div class="price-wishlist">
						  <div class="price-container">
							<% if (product.hasOffer) { %>
							  <p class="card-price">
								Rs. <%= Math.floor(product.finalPrice) %>
								<span class="original-price">Rs. <%= Math.floor(product.originalPrice) %></span>
								<% const discountPercent = Math.floor((product.discountAmount / product.originalPrice) * 100) %>
								<span class="discount-percent">-<%= discountPercent %>%</span>
							  </p>
							<% } else { %>
							  <p class="card-price">Rs. <%= Math.floor(product.originalPrice) %></p>
							<% } %>
						  </div>
						  <button onclick="toggleWishlist('<%= product._id %>', event)"
							class="wishlist-btn" data-product-id="<%= product._id %>">
							<i class="wishlist-icon far fa-heart"></i>
						  </button>
						</div>
					  </div>
					</a>
				  </div>
				<% }); %>
			  </div>
			</section>
		  
			<!-- Western Wear Section -->
			<section class="trending-western">
			  <h2 class="section-title">TRENDING IN WESTERN WEAR</h2>
			  <div class="card-container">
				<% trendingWestern.forEach(product => { %>
				  <div class="card" data-category="<%= product.category.name %>"
					data-brand="<%= product.brandName %>"
					data-price="<%= product.finalPrice || product.originalPrice %>"
					data-name="<%= product.brandName %>">
					<a href="/product-detail/<%= product._id%>">
					  <img src="<%= product.image[0] %>" alt="<%= product.name %>" class="card-image">
					  <div class="card-content">
						<h3 class="card-title">
						  <%= product.brandName %>
						</h3>
						<p class="card-description">
						  <%= product.description %>
						</p>
						<div class="price-wishlist">
						  <div class="price-container">
							<% if (product.hasOffer) { %>
							  <p class="card-price">
								Rs. <%= Math.floor(product.finalPrice) %>
								<span class="original-price">Rs. <%= Math.floor(product.originalPrice) %></span>
								<% const discountPercent = Math.floor((product.discountAmount / product.originalPrice) * 100) %>
								<span class="discount-percent">-<%= discountPercent %>%</span>
							  </p>
							<% } else { %>
							  <p class="card-price">Rs. <%= Math.floor(product.originalPrice) %></p>
							<% } %>
						  </div>
						  <button onclick="toggleWishlist('<%= product._id %>', event)"
							class="wishlist-btn" data-product-id="<%= product._id %>">
							<i class="wishlist-icon far fa-heart"></i>
						  </button>
						</div>
					  </div>
					</a>
				  </div>
				<% }); %>
			  </div>
			</section>
		  </div>
		  

		<!-- Footer -->
		<%-include("partials/footer")%>


			<!-- Back to top -->
			<div class="btn-back-to-top" id="myBtn">
				<span class="symbol-btn-back-to-top">
					<i class="zmdi zmdi-chevron-up"></i>
				</span>
			</div>


			<!--===============================================================================================-->
			<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/bootstrap/js/popper.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/select2/select2.min.js"></script>
			<script>
				$(".js-select2").each(function () {
					$(this).select2({
						minimumResultsForSearch: 20,
						dropdownParent: $(this).next('.dropDownSelect2')
					});
				})
			</script>
			<!--===============================================================================================-->
			<script src="vendor/daterangepicker/moment.min.js"></script>
			<script src="vendor/daterangepicker/daterangepicker.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/slick/slick.min.js"></script>
			<script src="js/slick-custom.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/parallax100/parallax100.js"></script>
			<script>
				$('.parallax100').parallax100();
			</script>
			<!--===============================================================================================-->
			<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
			<script>
				$('.gallery-lb').each(function () { // the containers for all your galleries
					$(this).magnificPopup({
						delegate: 'a', // the selector for gallery item
						type: 'image',
						gallery: {
							enabled: true
						},
						mainClass: 'mfp-fade'
					});
				});
			</script>
			<!--===============================================================================================-->
			<script src="vendor/isotope/isotope.pkgd.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/sweetalert/sweetalert.min.js"></script>
			<script>
				$('.js-addwish-b2').on('click', function (e) {
					e.preventDefault();
				});

				$('.js-addwish-b2').each(function () {
					var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
					$(this).on('click', function () {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});

				$('.js-addwish-detail').each(function () {
					var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

					$(this).on('click', function () {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				});

				/*---------------------------------------------*/

				$('.js-addcart-detail').each(function () {
					var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
					$(this).on('click', function () {
						swal(nameProduct, "is added to cart !", "success");
					});
				});

			</script>
			<!--===============================================================================================-->
			<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<script>
				$('.js-pscroll').each(function () {
					$(this).css('position', 'relative');
					$(this).css('overflow', 'hidden');
					var ps = new PerfectScrollbar(this, {
						wheelSpeed: 1,
						scrollingThreshold: 1000,
						wheelPropagation: false,
					});

					$(window).on('resize', function () {
						ps.update();
					})
				});
			</script>
			<!--===============================================================================================-->
			<script src="js/main.js"></script>

</body>

</html>